* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
  line-height: 0.8;
}

:root {
  --primarycolor: #ff3a44;
  --titlecolor: #222222;
  --subtitlecolor: #888888;
  --commoncolor: #ffffff;
  --black: #333333;
  --orange: #ffbd2f;
  --primarybg: #0489ca;
  --secondarybg: #0489ca;
  --poppins: "Poppins", sans-serif;
  --primaryweight: 400;
  --secondaryweight: 600;
  --mainweight: 700;
}
/* nav-bar area Start */

.navbar button {
  padding: 13px 25px;
  border-radius: 50px;
  border: 1px solid transparent;
  background-color: var(--primarycolor);
  color: var(--commoncolor);
  font-family: var(--poppins);
  font-weight: var(--secondaryweight);
  font-size: 15px;
  transition: all linear 0.3s;
}

.navbar button:hover {
  background: transparent;
  border-color: var(--primarycolor);
  color: var(--primarycolor);
}

.navbar-expand-lg .navbar-nav .nav-item .nav-link {
  position: relative;
  padding-left: 38px;
  padding-right: 38px;
  color: var(--black);
  font-family: var(--poppins);
  font-weight: var(--primaryweight);
  font-size: 15px;
}
.navbar-expand-lg .navbar-nav .nav-item .nav-link::after {
  position: absolute;
  content: "";
  width: 0;
  height: 5px;
  top: -10px;
  left: 32px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #aaaaaa;
  opacity: 0;
  transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
}

.navbar-expand-lg .navbar-nav .nav-item .nav-link:hover::after {
  opacity: 1;
  width: 54%;
}
/* nav-bar area end */

/*  banner area start */

#banner {
  padding-top: 97px;
  padding-bottom: 130px;
}

.banner-content h1 {
  padding-top: 19px;
  font-family: var(--poppins);
  font-weight: var(--mainweight);
  color: var(--titlecolor);
  line-height: 58px;
  font-size: 48px;
  padding-right: 140px;
}

.banner-content p {
  padding-top: 20px;
  font-family: var(--poppins);
  font-weight: var(--primaryweight);
  color: var(--subtitlecolor);
  line-height: 27px;
  font-size: 17px;
  padding-right: 201px;
}

.banner-content button {
  padding: 15px 25px;
  border-radius: 50px;
  border: 1px solid transparent;
  background-color: var(--primarycolor);
  color: var(--commoncolor);
  font-family: var(--poppins);
  font-weight: var(--secondaryweight);
  font-size: 16px;
  margin-top: 28px;
  transition: all linear 0.3s;
}

.banner-content button:hover {
  background: transparent;
  border-color: var(--primarycolor);
  color: var(--primarycolor);
}

.banner-img {
  width: 100%;
  border-radius: 20px;
  position: relative;
}

.banner-img::after {
  content: "";
  position: absolute;
  bottom: -76px;
  left: -115px;
  background: url(../images/banner-after-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 30%;
  height: 40%;
  z-index: -1;
}

.banner-img::before {
  content: "";
  position: absolute;
  top: -21px;
  right: -115px;
  background: url(../images/banner-before-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 30%;
  height: 40%;
  z-index: -1;
}

.banner-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.play-icon {
  position: absolute;
  width: 93px;
  height: 93px;
  border-radius: 50%;
  background: var(--orange);
  top: 177px;
  left: 279px;
}

.play-icon i {
  position: absolute;
  color: var(--commoncolor);
  top: 37px;
  left: 40px;
}

/*  banner area end */

.bg-image {
  background: url(../images/bg-images.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* workspace area start */

#workspace {
  padding-top: 100px;
  padding-bottom: 100px;
}

.workspace-content h3 {
  font-family: var(--poppins);
  font-weight: var(--mainweight);
  color: var(--commoncolor);
  line-height: 48px;
  font-size: 38px;
  padding-right: 90px;
}

.workspace-content p {
  font-family: var(--poppins);
  font-weight: var(--primaryweight);
  color: #d8d8d8;
  line-height: 28px;
  font-size: 18px;
  padding-top: 19px;
  padding-right: 108px;
  width: 72%;
  margin: 0 auto;
}

.focus-item {
  width: 300px;
  height: 100%;
  margin-top: 36px;
  padding: 45px 16px 91px 15px;
  background: var(--primarycolor);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  position: relative;
  z-index: 1;
}

.focus-item::before {
  position: absolute;
  content: "";
  background: url(../images/focus-before.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  top: 152px;
  left: -105px;
  height: 35%;
  width: 35%;
  vertical-align: middle;
}

.focus-shape {
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  background: #0b4c61;
  border-radius: 50% / 10%;
  color: white;
  text-indent: 0.1em;
  padding-top: 20px;
}

#focus-shape:before {
  content: "";
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  background: inherit;
  border-radius: 5% / 50%;
}

.focus-content h3 {
  font-family: var(--poppins);
  font-weight: var(--secondaryweight);
  color: var(--commoncolor);
  font-size: 22px;
  line-height: 32px;
  width: 235px;
  margin: 0 auto;
  padding-top: 17px;
}

.focus-content p {
  font-family: var(--poppins);
  font-weight: var(--primaryweight);
  color: var(--commoncolor);
  font-size: 15px;
  line-height: 26px;
  padding-top: 11px;
  width: 247px;
  margin: 0 auto;
}

.focus-item2 {
  width: 300px;
  height: 100%;
  margin-top: 36px;
  padding: 45px 16px 91px 15px;
  background: var(--orange);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  position: relative;
  z-index: 1;
}

.focus-shape2 {
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  background: #0b4c61;
  border-radius: 50% / 10%;
  color: white;
  text-indent: 0.1em;
  padding-top: 20px;
}

#focus-shape2:before {
  content: "";
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  background: inherit;
  border-radius: 5% / 50%;
}

.focus-content2 h3 {
  font-family: var(--poppins);
  font-weight: var(--secondaryweight);
  color: var(--commoncolor);
  font-size: 22px;
  line-height: 32px;
  width: 235px;
  margin: 0 auto;
  padding-top: 17px;
}

.focus-content2 p {
  font-family: var(--poppins);
  font-weight: var(--primaryweight);
  color: var(--commoncolor);
  font-size: 15px;
  line-height: 26px;
  padding-top: 11px;
  width: 247px;
  margin: 0 auto;
}

.focus-item3 {
  width: 300px;
  height: 100%;
  margin-top: 36px;
  padding: 45px 16px 91px 15px;
  background: #0489ca;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  position: relative;
  z-index: 1;
}

/* .focus-item3::after {
  content: " ";
  background: url(../images/focus-after.png);
  position: absolute;
  top: 130px;
  right: -134px;
  width: 45%;
  height: 45%;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  object-fit: cover;
} */

.shape-img {
  position: absolute;
  background: url(../images/focus-after.png);
  background-repeat: no-repeat;
  right: -134px;
  top: 286px;
  height: 45%;
  width: 45%;
  background-size: contain;
  vertical-align: middle;
  object-fit: cover;
  z-index: -1;
}

.focus-shape3 {
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  background: #0b4c61;
  border-radius: 50% / 10%;
  color: white;
  text-indent: 0.1em;
  padding-top: 20px;
}

#focus-shape3::before {
  content: "";
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  background: inherit;
  border-radius: 5% / 50%;
}

.focus-content3 h3 {
  font-family: var(--poppins);
  font-weight: var(--secondaryweight);
  color: var(--commoncolor);
  font-size: 22px;
  line-height: 32px;
  width: 235px;
  margin: 0 auto;
  padding-top: 17px;
}

.focus-content3 p {
  font-family: var(--poppins);
  font-weight: var(--primaryweight);
  color: var(--commoncolor);
  font-size: 15px;
  line-height: 26px;
  padding-top: 11px;
  width: 247px;
  margin: 0 auto;
}

/* worksapce area end  */

/* day report start */

/* #day {
  padding-bottom: 100px;
} */

.day-heading h3 {
  font-family: var(--poppins);
  font-weight: var(--mainweight);
  color: var(--commoncolor);
  font-size: 38px;
  line-height: 48px;
  padding-right: 52px;
  padding-bottom: 40px;
}

.date h3 {
  font-family: var(--poppins);
  font-weight: var(--mainweight);
  color: var(--orange);
  font-size: 38px;
  line-height: 50px;
  margin-right: 28px;
}

.review h4 {
  font-family: var(--poppins);
  font-weight: var(--secondaryweight);
  color: var(--commoncolor);
  font-size: 18px;
  line-height: 28px;
  padding-right: 64px;
}

.review p {
  font-family: var(--poppins);
  font-weight: var(--primaryweight);
  color: #d8d8d8;
  font-size: 15px;
  line-height: 26px;
  padding-right: 85px;
  padding-top: 15px;
  margin-bottom: 55px;
}

/* day report end */

/* visitor area start */

#visitor {
  padding-top: 35px;
  padding-bottom: 111px;
}

.visitor-margin {
  padding-top: 80px;
}

.visitor-part {
  background: #0c5f79;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 25px;
  margin-bottom: 25px;
}

.visitor-number h3 {
  font-family: var(--poppins);
  font-weight: var(--secondaryweight);
  color: var(--commoncolor);
  font-size: 18px;
  line-height: 18px;
  width: 25px;
  height: 25px;
  padding: 4px 9px;
  background: #0489ca;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 10px;
}

.visitor-content h4 {
  font-family: var(--poppins);
  font-weight: var(--primaryweight);
  color: var(--commoncolor);
  font-size: 18px;
  line-height: 18px;
}

.visitor-content p {
  font-family: var(--poppins);
  font-weight: var(--secondaryweight);
  color: #d0d0d0;
  font-size: 15px;
  line-height: 25px;
  padding-top: 11px;
  padding-right: 56px;
}

.visitor-number2 h3 {
  font-family: var(--poppins);
  font-weight: var(--secondaryweight);
  color: var(--commoncolor);
  font-size: 18px;
  line-height: 18px;
  width: 25px;
  height: 25px;
  padding: 4px 7px;
  background: var(--orange);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 10px;
}

.visitor-number3 h3 {
  font-family: var(--poppins);
  font-weight: var(--secondaryweight);
  color: var(--commoncolor);
  font-size: 18px;
  line-height: 18px;
  width: 25px;
  height: 25px;
  padding: 4px 7px;
  background: var(--primarycolor);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 10px;
}

.visitor-img {
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  position: relative;
  z-index: 1;
}

.visitor-img::after {
  content: " ";
  background: url(../images/visitor-after-img.png);
  position: absolute;
  top: 147px;
  right: -126px;
  width: 30%;
  height: 45%;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: middle;
  overflow: hidden;
  z-index: -1;
}

.visitor-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* visitor area end */

/* customer area start */

#customers {
  padding-bottom: 90px;
}

.customer-heading h2 {
  font-family: var(--poppins);
  font-weight: var(--mainweight);
  color: var(--commoncolor);
  font-size: 38px;
  line-height: 48px;
}

.customer-img {
  position: relative;
  z-index: 1;
}

.customer-img::before {
  position: absolute;
  content: "";
  background: url(../images/customer-before-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 39%;
  height: 39%;
  z-index: -1;
  left: -97px;
  top: 136px;
}

.customer-img::after {
  position: absolute;
  content: "";
  background: url(../images/customer-after-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 39%;
  height: 27%;
  z-index: -1;
  right: -38px;
  bottom: 130px;
}

.customer-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.customer-content {
  padding-top: 93px;
}

.vactor-icon i {
  font-size: 80px;
  color: var(--orange);
}

.customer-comment p {
  font-family: var(--poppins);
  font-weight: var(--primaryweight);
  color: #c6c6c6;
  font-size: 22px;
  line-height: 32px;
  padding-top: 25px;
  padding-right: 154px;
}

.customer-comment h5 {
  font-family: var(--poppins);
  font-weight: var(--mainweight);
  color: var(--commoncolor);
  font-size: 24px;
  line-height: 24px;
  padding-top: 25px;
  padding-bottom: 15px;
}

.customer-comment span {
  font-family: var(--poppins);
  font-weight: var(--primaryweight);
  color: #c6c6c6;
  font-size: 22px;
  line-height: 24px;
}

/* customer area end */

/* help area start */

#help {
  padding-bottom: 100px;
}

#help .help-bg {
  background: #0c5f79;
  border-radius: 45px;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  -ms-border-radius: 45px;
  -o-border-radius: 45px;
  padding-top: 84px;
  padding-left: 114px;
  padding-bottom: 75px;
}

.help-header h2 {
  font-family: var(--poppins);
  font-weight: var(--mainweight);
  color: var(--commoncolor);
  font-size: 48px;
  line-height: 60px;
}

.help-btn button {
  padding: 15px 25px;
  border-radius: 50px;
  border: 1px solid transparent;
  background-color: var(--primarycolor);
  color: var(--commoncolor);
  font-family: var(--poppins);
  font-weight: var(--secondaryweight);
  font-size: 16px;
  margin-top: 28px;
  transition: all linear 0.3s;
}

.help-btn button:hover {
  background: transparent;
  border-color: var(--primarycolor);
  color: var(--primarycolor);
}

.help-pra p {
  font-family: var(--poppins);
  font-weight: var(--primaryweight);
  color: var(--commoncolor);
  font-size: 18px;
  line-height: 28px;
  padding-right: 10px;
  padding-top: 12px;
}

/* help area end */

/* footer area start */

#footer {
  padding-bottom: 100px;
}

.footer-top-border {
  border-bottom: 2px solid #196781;
}

.footer-margin {
  padding-top: 49px;
}

.footer-pra p {
  font-family: var(--poppins);
  font-weight: var(--primaryweight);
  color: #e6e6e6;
  font-size: 14px;
  line-height: 24px;
  padding-top: 23px;
  padding-right: 148px;
}

.social-heading h5 {
  font-family: var(--poppins);
  font-weight: var(--secondaryweight);
  color: var(--commoncolor);
  font-size: 18px;
  line-height: 16px;
}

.social-heading p {
  font-family: var(--poppins);
  font-weight: var(--primaryweight);
  color: #e6e6e6;
  font-size: 14px;
  line-height: 16px;
  padding-top: 31px;
}

.social-icon i {
  font-size: 25px;
  margin-top: 21px;
  margin-left: 12px;
  background: var(--commoncolor);
  height: 45px;
  width: 45px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding: 11px 8px;
}

.quick-heading h5 {
  font-family: var(--poppins);
  font-weight: var(--secondaryweight);
  color: var(--commoncolor);
  font-size: 18px;
  line-height: 16px;
}

.quick-link {
  padding-top: 67px;
  padding-bottom: 40px;
}

.quick-link ul {
  display: contents;
}

.quick-link ul li {
  padding-bottom: 20px;
}

.quick-link ul li a {
  font-family: var(--poppins);
  font-weight: var(--primaryweight);
  color: #e6e6e6;
  font-size: 14px;
  line-height: 16px;
}

.location-heading h5 {
  font-family: var(--poppins);
  font-weight: var(--secondaryweight);
  color: var(--commoncolor);
  font-size: 18px;
  line-height: 16px;
}

.adress p {
  font-family: var(--poppins);
  font-weight: var(--primaryweight);
  color: #e6e6e6;
  font-size: 14px;
  line-height: 24px;
  padding-top: 31px;
  padding-bottom: 12px;
  padding-right: 14px;
}

.adress span {
  font-family: var(--poppins);
  font-weight: var(--primaryweight);
  color: #e6e6e6;
  font-size: 14px;
  line-height: 24px;
}

.footer-card p {
  font-family: var(--poppins);
  font-weight: var(--primaryweight);
  color: #e6e6e6;
  font-size: 14px;
  line-height: 25px;
  padding-top: 28px;
}

/* footer area end */
